<p>InGrid ist eine komponentenbasierte, service-orientierte Softwareplattform für</p>
<div class="row no-toc">
  <div class="col-md-4"><h3><i class="fa fa-search fa-2x pull-left"></i> Recherche</h3>
    Indexieren und recherchieren verschiedenster verteilter Datenquellen, z.B. Webseiten, Textdokumente, Tabellen, PDFs, etc.
    Vernetzung von Datenquellen über mehrere dezentrale InGrid-Instanzen.
  </div>
  <div class="col-md-4"><h3><i class="fa fa-map-marker fa-2x pull-left"></i> Kartendienste</h3>
    Visualisieren, recherchieren und kombinieren von OGC-konformen Kartendiensten mit einem leistungsfähigen und schnellen 
    <a href="http://openlayers.org/" target="_blank">OpenLayers</a>-basierten Kartenclient.
  </div>
  <div class="col-md-4"><h3><i class="fa fa-code fa-2x pull-left"></i> Metadaten</h3>
    Aufbau einer INSPIRE-kompatiblen Metadateninfrastruktur mit einem leistungsfähigen, erweiterbaren Web-Erfassungsclient 
    sowie einer INSPIRE- und GDI-DE-konformen Katalogschnittstelle.
  </div>
</div>
