<p>InGrid ist eine komponentenbasierte, service-orientierte Softwareplattform für</p>
<div class="row no-toc">
  <div class="col-md-3">
    <h3><i class="fa fa-search fa-2x pull-left"></i> Recherche</h3>
    Indexieren und recherchieren verschiedenster verteilter Datenquellen, z.B. Webseiten, Textdokumente, Tabellen, PDFs,
    etc.
    Vernetzung von Datenquellen über mehrere dezentrale InGrid-Instanzen.
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-map-marker fa-2x pull-left"></i> Kartendienste</h3>
    Visualisieren, recherchieren und kombinieren von OGC-konformen Kartendiensten mit einem leistungsfähigen und
    schnellen
    <a href="http://openlayers.org/" target="_blank">OpenLayers</a>-basierten Kartenclient.
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-code fa-2x pull-left"></i> OpenData/Geometadaten</h3>
    Aufbau einer INSPIRE-kompatiblen Metadateninfrastruktur mit einem leistungsfähigen, erweiterbaren
    Web-Erfassungsclient
    sowie einer INSPIRE- und GDI-DE-konformen Katalogschnittstelle.
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-list fa-2x pull-left"></i> UVP-Vorhaben</h3>
    Aufbau eines UVP-Portals zur Internet-Dokumentation von UVP-Vorhaben gemäß
    UVP-Gesetz. Das UVP-Portal kommt mit einer leistungsstarken Weberfassung
    für Vorhaben und Verfahren und bietet darüber hinaus die Möglichkeit,
    Informationen zur Bauleitplanung gemäß Baugesetzbuch bereit zu stellen.
  </div>
</div>
<div class="row no-toc">
  <div class="col-md-3">
    <h3><i class="fa fa-code fa-2x pull-left"></i> OpenData</h3>
    Aufbau einer Opendata Infrastruktur mit einem DCAT-AP.DE kompatiblen Editor und Abgabe nach GOVDATA.DE OUt Of The
    Box.
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-code fa-2x pull-left"></i> Zeitreihendaten</h3>
    Aufbau einer harmonisierten Zeitreihendatenbank nach dem OGC Standard Sensor Things API.
  </div>
</div>